
// hidden
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// 
.pseudo {
  position: absolute;
  content: "";
}

.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.abs-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.abs-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  box-sizing: border-box;
  border: 0;
  outline: none;
}

.hover-effect {
  opacity: 0.8;
}


// fonts
.font-hel(@fw: 300) {
  font-family: "HelveticaNeue Light", Arial, sans-serif;
  font-weight: @fw;
}

.font-pt(@fw: normal) {
  font-family: "HelveticaNeue Light", Arial, sans-serif;
  font-weight: @fw;
}

.header-big {
  .font-hel;
  font-size: 60px;
  line-height: 63px;
  margin: 0;

  & span {
    display: inline-block;
    padding: 2px;
    padding-left: 12px;
    padding-right: 20px;
    font-weight: normal;
  }
}

.btn {
  display: inline-block;
  padding: 5px 26px;
  font-size: 19px;
  line-height: 30px;
  border: 1px solid #000;
  text-decoration: none;
  color: #000;
}

.hover-effect {
  opacity: 0.9;
}

.gallery-img-set {
  position: absolute;
  width: 340px;
  height: 240px;
  border: 17px solid #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.03);
}

.enter-btn (@this-color: #000) {
  .hover-effect;
  position: relative;
  width: 58px;
  height: 58px;
  border: 4px solid @this-color;
  background-color: transparent;
  cursor: pointer;

  &:after {
    .pseudo;
    width: 22px;
    height: 22px;
    // margin-top: 12px;
    // margin-left: 5px;
    left: 5px;
    top: 12px;
    border-bottom: 4px solid @this-color;
    border-right: 4px solid @this-color;
    transform: rotate(-45deg);
  }
}

.link-color(@color-link: #000) {
  color: @color-link;

  &:active {
    color: @color-link;
  }

  &:visited {
    color: @color-link;
  }

  &:hover {
    color: @color-link;
    opacity: 0.80;
  }
}

